.aside-nav {

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: clamp(20px, 2.823vw, 35px);
  }

  &__link {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    opacity: .6;
    transition: all .4s;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-e);

    &.active {
      opacity: 1;
      font-weight: 700;

      .aside-nav__icon {
        opacity: 1;

        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  &__icon {
    transition: all .4s;
    position: relative;
    opacity: .3;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
      transition: all .4s;
    }

    &::before {
      transition: all .4s;
      width: 30px;
      height: 30px;
      left: 50%;
      top: 50%;
      @include psevdo;
      display: block;
      border: 1px solid #CFBB85;

      transform: translate(-50%, -50%);
    }
  }


}
