.join-btn {
  flex-shrink: 0;
  width: clamp(120px, 10.484vw, 130px);
  height: clamp(30px, 3.629vw, 45px);

  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 1.452vw, 18px);
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-a);
  text-transform: uppercase;

  background-color: var(--join-btn);
  border-radius: 5px;

  @include dfc;
}

.more-btn {
  flex-shrink: 0;
  width: clamp(120px, 11.29vw, 140px);
  height: clamp(30px, 3.468vw, 43px);

  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 1.452vw, 18px);
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-b);
  text-transform: uppercase;

  background-image: var( --transparent-btn);

  @include dfc;
  @include bg_position;
}

.aside-btn {
  flex-shrink: 0;
  width: 100%;
  height: clamp(35px, 4.597vw, 57px);

  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 1.452vw, 18px);
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-b);
  text-transform: uppercase;

  background-image: var( --transparent-btn);

  @include dfc;
  @include bg_position;
}

.gradient-btn {
  flex-shrink: 0;
  width: clamp(140px, 10.5vw, 186px);
  height: clamp(40px, 3.5vw, 56px);

  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 1.452vw, 18px);
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-b);
  text-transform: uppercase;

  background-image: var(--gradient-btn);

  @include dfc;
  @include bg_position;
}
