footer {
  max-width: 1620px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

}

.footer {
  border-top: 1px solid rgba(218, 205, 156, 0.7);
  padding-top: clamp(20px, 2.5vw, 40px);
  padding-bottom:clamp(20px, 2.5vw, 40px);
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-template-areas:
  "logo nav"
  "text social";
  grid-gap: 20px 50px;

  @media (max-width: 1024px) {
    grid-column: initial;
  }

  @media (max-width: 767px) {
    grid-template-areas:
    "logo social"
    "nav nav"
    "text text";
  }

  @media (max-width: 600px) {
    grid-template-areas:
    "logo logo"
    "social social"
    "nav nav"
    "text text";
  }

  &__logo {
    grid-area: logo;
    align-self: center;
    font-family: var(--font-family3);
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-h);

    @media (max-width: 600px) {
      justify-content: center;
      text-align: center;
    }
  }

  &__text {
    grid-area: text;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(207, 187, 133, 0.5);

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__social {
    grid-area: social;
    margin-left: auto;

    @media (max-width: 600px) {
      margin: 0 auto;
    }
  }


  &__nav {
    grid-area: nav;
  }

  &__nav-list {

    @media (max-width: 767px) {
      justify-content: center;
      margin: 0 auto;
      grid-gap: 30px;

      & > li::before {
        display: none;
      }

      & > li {
        margin-left: 0px;
      }
    }
  }
}
