.header-info {
  @include dfcs;
  grid-gap: clamp(15px, 2.016vw, 25px);
  max-width: 510px;

  opacity: .3;

  &__button {
    margin-left: auto;
  }

  &__vidjet {
    display: flex;
    align-items: center;
    grid-gap: 20px;
  }

  &__descr {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.452vw, 18px);
    line-height: 111%;
    color: var(--color-c);
  }

  &__value {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.452vw, 18px);
    line-height: 111%;
    color: var( --color-a);
    display: flex;
    align-items: center;
    grid-gap: 15px;

    &-profit {
      color: #23FF8C;
      font-weight: 700;
    }
  }
}
