.hero-section {


  &__inner {
    padding: 10px clamp(20px, 5vw, 50px) 10px;
    position: relative;
    background-image: url(../img/nft-bg.png);
    background-size: cover;
    min-height: Min(21.25vw,340px);
    position: relative;
    grid-gap: 40px;
    z-index: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    @media (max-width: 767px) {
      grid-template-columns: 100%;
      justify-content: center;
      text-align: center;
    }

    &::before {

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: .1px solid transparent;
      border-image-source: var(--border-2) !important;
      border-image-slice: 60;
      border-image-width: clamp(20px, 2.5vw, 40px) !important;
      border-image-repeat: stretch;
      z-index: -1;
      @include psevdo;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      padding: 0 30px;
    }
  }

  &__more {

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__image {
    z-index: 3;
    display: flex;
    width: Min(26.613vw,454px);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__content {
    padding: clamp(15px, 2.188vw, 35px) 0 clamp(15px, 2.188vw, 35px) 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    grid-gap: clamp(15px, 1.563vw, 25px);
    position: relative;
    z-index: 4;

    // @media (max-width: 1024px) {
    //   max-width: 55%;
    // }

    @media (max-width: 575px) {
      max-width: 100%;
      order: -1;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(30px, 3vw, 48px);
    line-height: 100%;
    color: var(--color-i);
  }

  &__text {
    color: var(--color-i);
  }
}
