.image-section {
  padding: 16px clamp(16px,1.563vw,23px);
  &__inner {
    position: relative;

    width: 100%;

    // mask-image: var(--image-mask);
    // mask-size: cover;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }


  &__image {
    display: flex;
    &--hero {
      position: absolute;
      bottom: 0;
      left: 50%;

      transform: translateX(-50%);
    }
  }
}
