.index-article {
    &__icon {
        width: 100%;
        fill: transparent;
    }
    &__inner {
        position: relative;
        z-index: 0;
        display: grid;
        align-items: center;
        padding: clamp(35px, 3.938vw, 45px) clamp(20px, 5.125vw, 80px);
        overflow: hidden;
        background-position: center;
        background-size: cover;
        grid-gap: clamp(20px, 5.5vw, 88px);
        grid-template-columns: auto auto;
        &::before {
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            border: 0.1px solid transparent;
            border-image-source: var(--border-2);
            border-image-slice: 60;
            border-image-width: clamp(20px, 2.5vw, 40px);
            border-image-repeat: stretch;
            @include psevdo;
        }
        @media (max-width: 575px) {
            grid-template-columns: 100%;
        }
    }
    &--images {
        .index-article__inner {
            justify-content: space-between;
            padding: 20px clamp(20px, 4.375vw, 70px);
            grid-gap: Min(6.528vw, 94px);
            grid-template-columns: auto 1fr;
            @media (max-width: 1024px) {
                grid-template-columns: 45% 0.9fr;
            }
            @media (max-width: 575px) {
                grid-template-columns: 100%;
            }
        }
    }
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            z-index: -1;
            width: 320px;
            height: 100%;
            background-image: url(../img/img6_tr.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include psevdo;
        }
    }
    &__inner--unlock {
        z-index: 0;
        background-image: url(../img/unlock-bg.png);
        grid-template-columns: 1fr 52%;
        &::before {
            z-index: 2;
        }

        .index-article__gif {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            pointer-events: none;

            img {
                height: 100%;
            }
        }

        .flower {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/flower.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        @media (max-width: 575px) {
            justify-content: flex-end;
            background-repeat: no-repeat;
            background-position: right;
            background-size: cover;
            grid-template-columns: 100%;
        }
        .index-article__content {
            grid-column: 2;
            @media (max-width: 575px) {
                text-align: center;
                grid-column: 1;
            }
        }
    }
    &__content {
        position: relative;
        z-index: 30;
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
    }
}
