.main-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  grid-gap: 15px;

  &__title {
    font-family: var(--font-family3);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(25px, 3.333vw, 48px);
    line-height: clamp(25px, 3.333vw, 48px);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-h);
  }
}
