.nft-list {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(30px, 4vw, 60px);

  &__item {


    &--grey {
      background: rgba(196, 196, 196, 0.5);
      // opacity: 0.5;

      .nft-list__inner {
        padding-top: 10px;
        padding-bottom: 10px;

        &::before {
          display: none;
          align-items: center;
        }
      }

      .nft-list__article {
        justify-content: center;
      }

      .nft-list__image {
        position: initial;
        transform: none;
        height: auto;
        width: auto;
      }
    }
  }

  &__inner {
    position: relative;
    padding: clamp(20px, 4.688vw, 60px) clamp(20px, 3.125vw, 40px);
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 55%;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 0.1px solid transparent;
      border-image-slice: 60;
      border-image-repeat: stretch;
      border-image-source: var(--border-2);
      border-image-width: clamp(20px,2.5vw,40px);
      z-index: -1;
    }

    @media (max-width: 1024px) {
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: clamp(15px, 1.333vw, 20px);
    }

    @media (max-width: 575px) {
      grid-template-columns: 100%;
      justify-content: center;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.563vw, 20px);
    grid-column: 2;

    @media (max-width: 575px) {
      grid-column: 1;
      text-align: center;
    }
  }

  &__image {
    position: absolute;
    width: clamp(161px,28vw, 420px);
    height: clamp(142px,24.667vw, 370px);
    top: 50%;
    left: Min(2vw, 65px);
    transform: translateY(-50%);

    @media (max-width: 1024px) {
      position: initial;
      transform: none;
    }

    @media (max-width: 575px) {
      margin: 0 auto;
    }
  }


  &__title {
    font-size: clamp(30px, 3.75vw, 48px);
    color: var(--color-a);
  }

  &__text {
    color: var(--color-a);
  }
}
