.our-team {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(30px, 4.063vw, 65px);
  padding: clamp(20px, 5vw, 80px)
            clamp(15px,1.563vw,25px)
           clamp(40px, 4.375vw, 70px);

  &__top {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 1.875vw, 30px);
  }

  &__list {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: clamp(15px, 1.875vw, 30px) clamp(10px, 1.25vw, 20px);

    @media screen and (max-width: 1350px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
    }
  }

  &__item {
    max-width: calc(100% / 5 - clamp(10px, 1.25vw, 20px));
    width: 100%;
    padding: 21px 21px 23px;
    border: 1px solid var(--color-j);
    border-radius: 5px;
    align-items: center;
    position: relative;
    grid-gap: 20px;
    overflow: hidden;

    @media screen and (max-width: 1350px) {
      max-width: 100%;
    }
  }

  &__image {
    background: var(--team-item-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 174px;
    width: 157px;

    @include dfc;


    picture {
      height: 153px;
      width: 138px;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      overflow: hidden;
    }
  }

  &__link {
    position: absolute;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 900;
    font-size: clamp(16px, 1.188vw, 19px);
    line-height: 100%;
    color: var(--color-k);
    top: 15px;
    right: 20px;
  }

  &__descr {
    background: var(--section__bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__name {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: var(--color-h);
  }

  &__type {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    /* or 187% */
    color: rgba(207, 187, 133, 0.8);
    padding-top: 15px;
    margin-top: 20px;
    position: relative;

    &::before {
      height: 1px;
      @include psevdo;
      left: -100px;
      right: -100px;
      top: 0;
      background-color: rgba(200, 177, 119, 0.5);
    }
  }

  &__last-name {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.389vw, 20px);
    line-height: 118%;
    /* or 118% */
    text-transform: uppercase;

    color: var(--color-h);
  }


}
