.project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: clamp(10px, 1.563vw, 25px);

  @media (min-width: 1024px) and (max-width: 1240px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }



  &__item {
    padding: 14px 11px;
    position: relative;
    border-radius: 5px;
    border: 1px solid var(--color-l);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.563vw, 25px);
  }

  &__image {
    display: flex;

    img, picture {
      width: 100%;
    }
  }

  &__descr {

    position: relative;
  }

  &__text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 1.528vw, 22px);
    line-height: 127%;
    text-align: center;
    display: inline-block;
    color: var(--color-g);
    min-height: Min(6.944vw, 100px);
  }


}
