.staking-section {
  padding: 8px 12px;

  &__inner {
    position: relative;
    min-height: Min(21.875vw,350px);
    z-index: 0;
    display: flex;
    align-items: center;

    &::before {
      @include psevdo;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: .1px solid transparent;
      border-image-source: var(--border-3);
      border-image-slice: 60;
      border-image-width: 60px;
      border-image-repeat: stretch;
      z-index: -1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    grid-gap: 30px;
    padding: 40px 0 60px;
  }


  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-h);
    flex-grow: 1;
  }

  &__text {
    text-transform: uppercase;
  }
}
