.update-box {
    position: relative;
    z-index: 0;
    &::before {
        position: absolute;
        content: "";
        width: 90%;
        height: 80%;
        opacity: .4;
        background: radial-gradient(50% 50% at 50% 50%, #30448b 0, rgba(38, 54, 111, 0) 100%);
        z-index: -1;
        pointer-events: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__inner {
        overflow: hidden;
        position: relative;
        padding: 20px;
        z-index: 0;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 0.1px solid transparent;
            border-image-source: var(--border-form);
            border-image-slice: 20;
            border-image-width: 20px;
            border-image-repeat: stretch;
            z-index: -1;
        }
    }
    .thanks-box {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .4s ease-in-out;
        transition-delay: .5s;
        .update-form__top {
            margin: 0 auto clamp(25px, 6.154vw, 80px);
            grid-gap: 30px;
        }
        &.show {
            visibility: visible;
            opacity: 1;
            transition: all .4s ease-in-out;
            transition-delay: .5s;
        }
        &__icon {
            margin-bottom: clamp(30px, 4.923vw, 64px);
        }
    }
}