.ticket-section {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(25px, 3vw, 45px);
  position: relative;
  z-index: 0;
  padding: clamp(20px, 6.667vw, 100px)
           clamp(20px, 4vw, 60px)
           clamp(40px, 6.8vw, 102px);

  &__top {
    display: grid;
    grid-template-columns: auto Min(30vw,450px);
    grid-gap: clamp(40px, 4.667vw, 70px);
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-weight: normal;
    text-transform: uppercase;
  }

  &__text {
    text-align: center;

    &--upp {
      text-transform: uppercase;
    }
  }

  &__buttons {
    display: flex;
    grid-gap: 30px;
    justify-content: center;
  }

  &__button {
    max-width: 220px;
  }


  &::before {
    @include psevdo;
    width: 90%;
    height: 80%;
    opacity: .4;
    background: radial-gradient(50% 50% at 50% 50%, #30448B 0%, rgba(38, 54, 111, 0) 100%);
    z-index: -1;
    pointer-events: none;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
}
