:root {
    /* -- Fonts --*/
  --font-family: "Roboto", sans-serif;
  --font-family2: "Khand", sans-serif;
  --font-family3: "Rubik", sans-serif;

  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b: #F5D78F; // var(--color-b);
  --color-c: #7C7CA5; // var(--color-c);


  // bg
  --header-bg: #1D1D34;
  --header-gradient: linear-gradient(90deg, #61319F 2.13%, rgba(79, 38, 133, 0) 100.5%) ;



    // btn--bg
  --join-btn: #00B757;
}








